@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body{
	margin: 0;
	padding: 0;
	cursor: default;
	overflow-x: hidden;
	/* colors */
	--waya-phone-cover: transparent;
	--waya-fandango: #3d34b9;
	--fandango-orange-gradient-tb: linear-gradient(0deg, #8593e0 0%, #3f3848 100%);
	--fandango-orange-gradient-lr: linear-gradient(-90deg,#7863ee 0%, #3f3848 100%);
}

*{
	outline: none;
	scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
}

a{
	text-decoration: none;
	color: inherit;
}

.centroid{
	max-width: 1200px;
	margin: auto;
}

.app-header{
	height: 88.5vh;
	padding: 15px;
	padding-top: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	position: relative;
}

.app-logo{
	height: 35px;
	object-fit: contain;
	position: absolute;
	top: 40px;
}

.spacerB{
	height: 60px;
}

.app-header h1{
	font-size: 3em;
	font-weight: 300;
}


.app-summary{
	margin-bottom: 25px;
	line-height: 1.7em;
	letter-spacing: 1px;
	/* font-size: 12px; */
	color: rgba(0, 0, 0, 0.7);
}

.app-download {
	padding: 17px 35px;
	text-align: center;
	color: #fff;
	background: var(--waya-fandango);
	font-size: 14px;
	letter-spacing: 1px;
	border-radius: none !important;
	border: 1px solid var(--waya-fandango);
	position: relative;
	display: table;
	border-radius: 3px;
	transition: 0.2s all linear;
	-webkit-transition: 0.2s all linear;
}

.app-download:hover{
	padding: 17px 45px;
}

.app-download:before{
	content: '';
	position: absolute;
	bottom: 10%;
	right: 10%;
	width: 90%;
	height: 30px;
	background: rgba(0, 0, 0, 0.7);
	transform-origin: right;
	transform: skewY(-5deg);
	z-index: -1;
	filter: blur(5px);
}

.app-view-box{
	display: grid;
	place-items: center;
}

.app-preview{
	position: relative;
	z-index: 34;
	margin-bottom: 20px;
	animation: 2s mildBounce infinite;
	-webkit-animation: 2s mildBounce infinite;
}

@keyframes mildBounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-15px);}
	60% {transform: translateY(-5px);}
}

.app-preview:hover{
	transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
}

.app-background{
	display: table;
	background-color: transparent !important;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	z-index: 34; 
}

.app-preview img{
    background-color: transparent !important;
	height: 700px;
	object-fit: contain;
	border-radius: 10px;
	transition: 0.2s all linear;
	-webkit-transition: 0.2s all linear;
}

/* artwork */
.app-folded{
	width: 50vw;
	height: 50vw;
	background: var(--fandango-orange-gradient-lr);
	border-radius: 50px;
	border: 1px solid #b8b090;
	transform: rotate(64deg);
	position: absolute;
	z-index: -1;
	top: -45%;
	right: -5%;
	/* transition: 3s all linear; */
}

@media screen and (max-width: 999px){
	.app-header h1{
		font-size: 2.4em;
	}

	.app-preview img{
		height: 400px;
	}
}

@media screen and (max-width: 779px){
	.app-header{
		grid-template-columns: 1fr;
	}

	.app-column{
		max-width: 400px;
		margin: auto;
		margin-bottom: 30px;
	}

	.app-summary{
		font-size: 12px;
	}

	.app-preview img{
		height: 500px;
	}

	.app-folded{
		top: -55%;
		background: var(--fandango-orange-gradient-tb);
	}
}

@media screen and (max-width: 740px){
	.app-folded{
		top: -50%;
		right: -5%;
	}
}

@media screen and (max-width: 700px){
	.app-folded{
		top: -45%;
		right: -5%;
	}
}

@media screen and (max-width: 580px){
	.app-folded{
		top: -35%;
		right: -5%;
	}
}

@media screen and (max-width: 480px){
	.app-folded{
		top: -25%;
		right: -5%;
	}

	.app-header h1{
		font-size: 2.2em;
	}

	.app-download{
		width: 70%;
	}

	.app-download::before {
		bottom: 24%;
	}
}

@media screen and (max-width: 300px){
	html, body{
		min-width: 300px;
		width: 300px !important;
	}
}